{% extends "base_map.html" %}

{% block head %}
<style>
  .container {
    padding-top: 90px;
    font-size: 20px;
    font-family: "Open Sans", open-sans, sans-serif;
    width: 850px;
  }

  .tier {
    width: 25px;
    height: 25px;
    float: right;
    border-radius: 50%;
    margin: 0 5px;;
  }

  .tier.carbon {
    background: #43464b;
  }

  .tier.bronze {
    background: #cd7f32;
  }

  .tier.silver {
    background-color: #c0c0c0;
  }

  .tier.gold {
    background-color: #ffd700;
  }

  .tier.platinum {
    background-color: #e5e4e2;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
{% endblock %}

{% block body %}
<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Tier</th>
      <th>Point Balance</th>
      <th>Ph # </th>
    </tr>
    {% for user in users %}
    <tr>
      <td>
        {% if user.location %}
          <a id="username" data-toggle="modal" data-location="{{ user.loc }}" data-name="{{ user.name }}">{{user.name}}</a>
        {% else %}
          {{user.name}}
        {% endif %}
      </td>
      <td><span>{{ user.tier }}</span>
        <span class="tier {{ user.tier.lower() }}"></span></td>
      <td>{{ user.points }}</td>
      <td>
        {% for phone in user.phone %}
        <p>{{ phone }}</p>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<!-- Modal -->
<div class="modal" id="loc-modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-header" id="modal-header">
    </div>
    <div class="modal-body">
    </div>
  </div>
</div>


<script>
  const users = document.querySelectorAll('#username');
  console.log(users)
  const modal = document.getElementById('loc-modal');
  const closeButton = document.getElementsByClassName('close')[0];
  const header = document.getElementsByClassName('modal-header')[0];
  const body = document.getElementsByClassName('modal-body')[0];

  users.forEach((user) => {
    user.addEventListener('click', openModal)
  })
span.onclick = function() {
    modal.style.display = "none";
}
  window.onclick = function(e) {
    if (e.target === modal) {
      modal.style.display = "none";
    }
  }

  function openModal(e) {
      modal.style.display = "block";
      let name = document.createTextNode(`${e.target.dataset.name}'s Location:`);
      let location = e.target.dataset.location.length > 0 ? e.target.dataset.location : `${e.target.dataset.name}'s location is unavailable`;
      let loc = document.createTextNode(location);
      header.removeChild(header.childNodes[0]);
      header.appendChild(name);
      body.removeChild(body.childNodes[0]);
      body.appendChild(loc);
  }
</script>

{% endblock %}